<h1>Tweet</h1>
<div class="jumbotron">
  <h1>Hello, Twitter world!</h1>
  <p>Keep tweeting</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button"> Submit</a></p>
</div>
<p><%= @brand %></p>

<!-- <div class= "tweet-wrapper">
  <% @tweets.each do |tweet| %>

  <li><%= tweet.created_at.strftime("%I:%M %P") %></li>
  <% end %>

</ul> -->
